@import "tailwindcss";

@theme {
    --color-primary: #6366f1;
    --color-secondary: #8b5cf6;
    --color-accent: #06b6d4;
    --color-dark: #0f172a;
    --color-darker: #020617;
    --color-surface: #1e293b;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--color-dark);
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}