---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CookieConsent from '../components/CookieConsent.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Master Artificial Intelligence with Smart AI Hacks. Learn Prompt Engineering, automation, and tool analysis to boost your productivity. Practical and ethical content for your AI journey." } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="p:domain_verify" content="47b1006bff58f20626610745ca76a695"/>
		<title>{title} | SmartAIHacks</title>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4160276489030508" crossorigin="anonymous"></script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-4K1YZDTCLH"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-4K1YZDTCLH');
		</script>
	</head>
	<body class="bg-dark text-white min-h-screen flex flex-col">
    <Header />
		<main class="flex-grow container mx-auto px-4 py-8">
			<slot />
		</main>
		<Footer />
		<CookieConsent />
	</body>
</html>
